ExcelManageIT/ExcelManageIT/Service References/ServiceReference1/ExcelManageITService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExcelManageITService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExcelManageITService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessControls" nillable="true" type="tns:ArrayOfAccessControl" />
      <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Designation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastLogin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:Role" />
      <xs:element minOccurs="0" name="RoleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Theme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User1" nillable="true" type="tns:ArrayOfUser" />
      <xs:element minOccurs="0" name="User2" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZIP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfAccessControl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccessControl" nillable="true" type="tns:AccessControl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccessControl" nillable="true" type="tns:ArrayOfAccessControl" />
  <xs:complexType name="AccessControl">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeleteFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ElementID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReadFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:Role" />
      <xs:element minOccurs="0" name="RoleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UIElement" nillable="true" type="tns:UIElement" />
      <xs:element minOccurs="0" name="UpdateFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessControl" nillable="true" type="tns:AccessControl" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessControls" nillable="true" type="tns:ArrayOfAccessControl" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="UIElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessControls" nillable="true" type="tns:ArrayOfAccessControl" />
      <xs:element minOccurs="0" name="ElementID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ElementName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScreenName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UIElement" nillable="true" type="tns:UIElement" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>