ExcelManageIT/ExcelManageIT/Service References/ServiceReference1/ManageITService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManageITService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://internservice.ddns.net/ExcelManageITService.ManageITService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://internservice.ddns.net/ExcelManageITService.ManageITService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://internservice.ddns.net/ExcelManageITService.ManageITService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExcelManageITService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManageITService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IManageITService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IManageITService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IManageITService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IManageITService_AddRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRole" />
  </wsdl:message>
  <wsdl:message name="IManageITService_AddRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IManageITService_AddToAccessControl_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToAccessControl" />
  </wsdl:message>
  <wsdl:message name="IManageITService_AddToAccessControl_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToAccessControlResponse" />
  </wsdl:message>
  <wsdl:message name="IManageITService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IManageITService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IManageITService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IManageITService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IManageITService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageITService/Login" message="tns:IManageITService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageITService/LoginResponse" message="tns:IManageITService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageITService/AddUser" message="tns:IManageITService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageITService/AddUserResponse" message="tns:IManageITService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageITService/AddRole" message="tns:IManageITService_AddRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageITService/AddRoleResponse" message="tns:IManageITService_AddRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddToAccessControl">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageITService/AddToAccessControl" message="tns:IManageITService_AddToAccessControl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageITService/AddToAccessControlResponse" message="tns:IManageITService_AddToAccessControl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageITService/GetData" message="tns:IManageITService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageITService/GetDataResponse" message="tns:IManageITService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageITService/GetDataUsingDataContract" message="tns:IManageITService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageITService/GetDataUsingDataContractResponse" message="tns:IManageITService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ManageITService" />
</wsdl:definitions>